@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&family=Jua&family=Young+Serif&display=swap');
*{
    font-family: 'Gowun Batang', serif;
    font-family: 'Gowun Dodum', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* 휴대폰 기준 */
@media screen and (max-width:576px){
    .html{
        font-size: 10px;
    }
}

/* 태블릿 기준 */
@media screen and (min-width:576px) and (max-width:768px){
    .html{
        font-size: 13px;
    }
}

/* 노트북 기준 */
@media screen and (min-width:768px) and (min-width:1024px) {
    .html{
        font-size: 16px;
    }
}


