*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.banner{
    background-image: url(./img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:50vh;
}

.breadcrumb-item>a{
    text-decoration: none;
    color: grey;
}

.breadcrumb{
    --bs-breadcrumb-item-active-color:black;
}

.prdList{
    list-style: none;
}

.dsc-ele{
    list-style: none;
}

