#search:after{
    font-family: "FontAwesome"; content: "\f002";
  }
  
  .instagram::before{
      font-family: "FontAwesome"; content:"\f16d";
      border: none;
  }
  
  #visitors::before{
      font-family: "FontAwesome"; content:"\f183";
  }
  
  #food::before{
      font-family: "FontAwesome"; content: "\f2e7";
  }
  
  #attraction::before{
      font-family: "FontAwesome"; content:"\f1ad"
  }
  