.navbar-toggler{
    border: 0 !important;
}

.swiper-button-prev,.swiper-button-next{
    --swiper-navigation-color: white; 
}


.swiper-scrollbar-drag{
    --swiper-scrollbar-drag-bg-color:white;
}

.swiper-scrollbar{
    --swiper-scrollbar-bg-color: black;
    height: 0.3rem!important;
}

.swiper-slide img{
    width:100%;
    height:100%;
}

.cart{
    margin:1.8rem;
    padding:1.5rem;    
    border:0;
}

.title{
    font-size:1.5rem;
    font-weight: bolder;
    margin:1.8rem;
}

.info{
    font-size:1rem;
    margin:1.8rem;
}

.menu,.description,.place,.googleMap{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#detail,#order,#review{
    border:1px solid rgba(0, 0, 0, 0.1);
    padding:0.6rem;
    font-size: 1rem;
}
